<div class="aliev_row">
    <!-- Single Blog -->
    <div class="single-blog" onclick="location.href='/opisanie-sortnosti-pogonazhnyh-izdelij';">
      <div class="blog-head">
          <img src="/catalog/view/theme/newstore/serj_aliev/blog_information/blog2.png" alt="Image alt">
      </div>
      <div class="blog-bottom">
          <div class="blog-inner">
              <h4><a href="/opisanie-sortnosti-pogonazhnyh-izdelij" title="[[+pagetitle]]">Погонажные Изделия</a></h4>
              <p>Основные требования к сортности погонажных изделий</p>
              <div class="meta">
                  <!-- <span><i class="fa fa-calendar"></i>[[+publishedon]]</span>
                  <span><i class="fa fa-eye"></i><a href="#">[[!HitsPage? &amp;saveTv=`true`]] </a></span> -->
              </div>
          </div>
      </div>
  </div>
  <!-- End Single Blog -->
  
  <!-- Single Blog -->
  <div class="single-blog" onclick="location.href='/osnovnye-trebovaniya-k-sortnosti-doski';">
      <div class="blog-head">
          <img src="/catalog/view/theme/newstore/serj_aliev/blog_information/blog1.png" alt="Image alt">
      </div>
      <div class="blog-bottom">
          <div class="blog-inner">
              <h4><a href="/osnovnye-trebovaniya-k-sortnosti-doski" title="[[+pagetitle]]">Необрезная Доска</a></h4>
              <p>Основные требования к сортности необрезной доски</p>
              <div class="meta">
                  <!-- <span><i class="fa fa-calendar"></i>[[+publishedon]]</span>
                  <span><i class="fa fa-eye"></i><a href="#">[[!HitsPage? &amp;saveTv=`true`]] </a></span> -->
              </div>
          </div>
      </div>
  </div>
  <!-- End Single Blog -->

      <!-- Single Blog -->
      <div class="single-blog" onclick="location.href='/';">
          <div class="blog-head">
              <img src="/catalog/view/theme/newstore/serj_aliev/img/500.png" alt="Image alt">
          </div>
          <div class="blog-bottom">
              <div class="blog-inner">
                  <h4><a href="/" title="[[+pagetitle]]">Coming soon</a></h4>
                  <p>Coming soon</p>
                  <div class="meta">
                      <!-- <span><i class="fa fa-calendar"></i>[[+publishedon]]</span>
                      <span><i class="fa fa-eye"></i><a href="#">[[!HitsPage? &amp;saveTv=`true`]] </a></span> -->
                  </div>
              </div>
          </div>
      </div>
      <!-- End Single Blog -->
</div>