<style>
    .wrapper-wrapper {
        box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
        border-radius: 5px;
    }
    .calendar {
        width: 378px;
        margin: 0 auto;
        padding: 30px 0px;
    }

    .calendar-month {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .month-number h3 {
        color: #6f6f6e;
        font-size: 80px;
        padding: 0;
        margin: 0;
        font-weight: 500;
     
    }

    .month-years-mth h3 {
        color: #6f6f6e;
        font-size: 35px;
        padding: 0;
        margin: 0;
        font-weight: 400;
    }

    .month-years-mth {
        text-align: right;
    }

    .calendar-days {
        border-top: 2px solid #62ad2d;
        border-bottom: 2px solid #62ad2d;
        display: flex;
        text-align: center;
        align-items: center;
    }

    .calendar-days span {
        color: #6f6f6e;
        width: 52px;
        margin-right: 2px;
        font-size: 18px;
    }

    .calendar-days span:last-child {
        margin-right: 0px;
    }

    .calendar-day-numbers {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
    }

    .calendar-day-numbers span {
        width: 52px;
        height: 40px;
        margin: 2px 2px 2px 0px;
        font-size: 25px;
        line-height: 40px;
    }

    .calendar-day-numbers span:last-child {
        margin-right: 0px;
    }
</style>



<div class="wrapper-wrapper">
    <div class="calendar">
        <h2 style="text-align: center;">Святкові вихідні дні</h2>
        <h3 style="text-align: center;">24.08 - День Незалежності України</h3>
    <!--         <h3 style="text-align: center;">28.06 - День Конституції</h3> -->
        <div class="wrapper-calendar">
            <div class="calendar-month">
                <div class="month-number">
                    <h3>08</h3>
                </div>
                <div class="month-years-mth">
                    <h3>2021</h3>
                    <h3>Серпень</h3>
                </div>
            </div>
            <div class="calendar-days">
                <span>Пн</span>
                <span>Вт</span>
                <span>Ср</span>
                <span>Чт</span>
                <span>Пт</span>
                <span>Сб</span>
                <span>Нд</span>
            </div>
            <div class="calendar-day-numbers">
                <span style="color: #fff;">31</span>
                <span style="color: #fff;">1</span>
                <span style="color: #fff;">2</span>
                <span style="color: #fff;">3</span>
                <span style="color: #fff;">4</span>
                <span style="color: #fff;">5</span>
                <span style="background-color: #ff010b; color: #fff;">1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
                <span>5</span>
                <span>6</span>
                <span>7</span>
                <span style="background-color: #ff010b; color: #fff;">8</span>
                <span>9</span>
                <span>10</span>
                <span>11</span>
                <span>12</span>
                <span>13</span>
                <span>14</span>
                <span style="background-color: #ff010b; color: #fff;">15</span>
                <span>16</span>
                <span>17</span>
                <span>18</span>
                <span>19</span>
                <span>20</span>
                <span>21</span>
                <span style="background-color: #ff010b; color: #fff;">22</span>
                <span>23</span>
                <span style="background-color: #ff010b; color: #fff;">24</span>
                <span>25</span>
                <span>26</span>
                <span>27</span>
                <span>28</span>
                <span style="background-color: #ff010b; color: #fff;">29</span>
            </div>
        </div>
    </div>
</div>